
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;      /* valor negativo para garantir que fique no fundo */
  pointer-events: none; /* não bloqueia cliques */
}

p {

    margin: 780px;
    margin-left: 1500px;
    overflow: visible;
    position: fixed;
    white-space: nowrap;
    font-family: "TLOU", sans-serif;
    font-size: 120px;
}